*{
    background-color: blueviolet;
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background: url(Fondo_Home.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.navbar{
    font-size: 18px;
    color: aliceblue;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 70px;

}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: aliceblue;
    transition: cubic-bezier(0.19, 1, 0.22, 1);


}
.navbar a:hover::before{
    width: 100%;

}
